

.card {
    border-radius: 5px;
    max-width: 400px;
    max-height: 364px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin: 20px;
    margin-left: 0px;
    background: #E7E7E7;
    text-overflow: ellipsis;
    

    &__img {
        width: 100%;
        height: 178px;
        background-color: grey;
    }
    &__title {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.1rem;
        height: 32px;
        &__text {
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
        &__icon {
            margin-right: 5px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin: 5px;
        width: 45%;
        font-size: 0.8rem;
        max-height: 140px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    &__desc {
        margin: 5px;
        width: calc(45%);
        font-size: 0.8rem;
        max-height: 140px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}