
.title {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    object-fit: scale-down;
    width: 268px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.tag {
    width: 107px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}