
.title {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    object-fit: scale-down;
    width: 268px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.tag {
    min-width: 107px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 10px;
    
    &--blue {
        background-color: #3282F7;
    }
    &--green {
        background-color: #68D9A4;
    }
    &--orange {
        background-color: #ED6454;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.badgeContainer {
    display: flex;
    flex-wrap: wrap;
}
.badgeButton {
    margin-left: 5px;
    cursor: pointer;
}