.searchbar {    
    height: 60px;    
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__input {  
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;      
        width: 90%;        
        border: none;
        height: 100%;
        background-color: #E7E7E7;
    }
    &__button {
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 2rem;
        background-color: #E7E7E7;
        cursor: pointer;
    }
}

.filter {

    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;

    &-section {
        display: flex;
    }
    
    &--blue {
        background-color: #3282F7;
        color: white;
        border: none;
        
    }
    &--green { 
        background-color: #68D9A4;
        color: white;
        border: none;
    }
    &--orange {
        background-color: #ED6454;
        color: white;
        border: none;
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    padding: 5px;

    &__text {
        margin: 5px
    }
}
