.card {
  border-radius: 5px;
  max-width: 400px;
  max-height: 364px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 30px;
  background: #E7E7E7;
  text-overflow: ellipsis;
}
.card__img {
  width: 100%;
  height: 178px;
  background-color: grey;
}
.card__title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  height: 32px;
}
.card__title__text {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 280px;
}
.card__title__icon {
  margin-right: 5px;
}
.card__list {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 45%;
  font-size: 0.8rem;
  max-height: 140px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__desc {
  margin: 5px;
  width: calc(45%);
  font-size: 0.8rem;
  max-height: 140px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: #D04F4F;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  object-fit: scale-down;
  width: 268px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.tag {
  min-width: 107px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: 10px;
}
.tag--blue {
  background-color: #3282F7;
}
.tag--green {
  background-color: #68D9A4;
}
.tag--orange {
  background-color: #ED6454;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.badgeContainer {
  display: flex;
  flex-wrap: wrap;
}

.badgeButton {
  margin-left: 5px;
  cursor: pointer;
}

.searchbar {
  height: 60px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.searchbar__input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  border: none;
  height: 100%;
  background-color: #E7E7E7;
}
.searchbar__button {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 2rem;
  background-color: #E7E7E7;
  cursor: pointer;
}

.filter {
  position: relative;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  border-radius: 5px;
  height: 50px;
}
.filter-section {
  display: flex;
}
.filter--blue {
  background-color: #3282F7;
  color: white;
  border: none;
}
.filter--green {
  background-color: #68D9A4;
  color: white;
  border: none;
}
.filter--orange {
  background-color: #ED6454;
  color: white;
  border: none;
}

.dropdown {
  border-radius: 5px;
  background-color: inherit;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  position: absolute;
  top: 45px;
  left: 0px;
  max-height: 400px;
  z-index: 8;
  align-content: flex-start;
}
.dropdown__item {
  cursor: pointer;
  width: 130px;
}
.dropdown--appareil {
  max-width: 229px;
}

p {
  margin: 0;
}

body {
  padding: 100px;
}

::placeholder {
  color: white;
}

/*# sourceMappingURL=main.css.map */
